@font-face {
    font-family: "PT Sans";
    src: url(PT_Sans/PTSans-Regular.ttf)
}

html {
    font-family: "PT Sans";
}

body {
    margin: 0;
    padding: 0;
    background: #ececec;
}

.dark {
    transition: .4s;
    background: #1a1a1a;
    color: #ccc;
}

#container {
    margin: 0;
    min-height: 100vh;
    transition: .4s;
}

#navigation {
    padding-top: 12px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: row-reverse;
    vertical-align: center;
}

#navigation p {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.toggle:checked + .slider {
    background-color: #2196F3;
}

.toggle:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#sambutan {
    margin-left: 24px;
    margin-right: 24px;
    font-size: 48px;
    text-align: center;
}

#accordion {
    margin-left: 24px;
    margin-right: 24px;
    padding-bottom: 36px;
}

.borderAcc {
    margin-bottom: 18px;
}

#accordion h3 {
    padding-top: 16px;
    padding-left: 12px;
    height: 40px;
    border-radius: 12px;
    margin: 0;
}

.accLight {
    background-color: rgb(201, 201, 201);
    background-image: url("caret-down.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 97% 50%;
}

.accDark {
    background-color: #363636 ;
    background-image: url("caret-down-dark.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 97% 50%;
}

#accordion h3:hover {
    opacity: 75%;
}

#accordion .accContent {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 18px;
}

#accordion p {
    margin: 0;
    text-align: justify;
    justify-content: inside;
}

#accordion h4 {
    margin: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}