{% load static %}

<html>
    <head>
        <meta charset = "UTF-8">
        <meta name= "viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <title>Halo bros</title>
    </head>
    <body>
        <div id="halo">
            <div id="apakabar">
                <p>Halo, apa kabar?</p>
            </div>

            <form class="form" action="{% url 'status:home' %}" method="POST">
                {% csrf_token %}
                <label>Status : </label>
                <textarea name="status" id="statuxText" cols="30" rows="10" placeholder="Max 300 huruf" required=""></textarea>
                <input class="tombol_simpan" type="submit" value="Simpan">
            </form>

            <form class="data" action="{% url 'status:home'%}" method="GET">
                {% for d in data %}
                <div class="dataData">
                    <div class="date">{{d.date}}</div>
                    <div class="time">{{d.time}}</div>
                    <div class="statusData">{{d.status}}</div> 
                </div>
                {% endfor %}
            </form>
        </div>
    </body>
</html>